openinference-instrumentation-google-genai
openinference-instrumentation-bedrock==0.1.43
openinference-instrumentation-claude-agent-sdk==0.1.7
openinference-instrumentation-instructor==0.1.18
openinference-instrumentation-anthropic==0.1.20
openinference-semantic-conventions==0.1.30
openinference-instrumentation-openai==0.1.52
openinference-instrumentation-openai-agents==1.6.1
openinference-instrumentation-langchain==0.1.66
dynamicfeed-verify==1.0.1
openinference-instrumentation==0.1.54
